.profile {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
    gap: 1.5rem;
    padding: 0 3rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    h2 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 5px 5px #c1c5ee;
    }
}

.unauthenicated {
    margin-top: 8rem;
    color: rgb(0, 162, 255);
    font-weight: bold;
}
