.navbar{
padding: 0.5rem;
position:fixed;
background-color: #ffff;
width: 100vw !important;
z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
   img{
    width: 8rem;
} 
}

.m_7485cace{
    --container-size-md: 100vw !important
}