.category-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}
button.active {
    background: rgb(34, 139, 230);
    color: white;
    font-weight: bold;
    outline: 2px solid rgb(148, 203, 251);
}

.cards {
    display: grid;
    gap: 1.5rem;
    padding: 0 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    grid-template-columns: 1fr;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .loading {
        margin-top: 8rem;
        position: absolute;
        top: 40%;
        left: 45%;
        color: rgb(0, 162, 255);
        font-weight: bold;
    }
}
